* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 40px;
	box-shadow: 0 0 8px #333;
}
.container.dark .logo{
   
    background-image: url(../pic/icoSpaceInvadersWhite.svg);   
    background-repeat: no-repeat;
    padding: 30px;
}

.container.pink .logo{
    
    background-image: url(../pic/icoSpaceInvadersWhite.svg);   
    background-repeat: no-repeat;
    padding: 30px;
}

.logo {
   
    background-image: url(../pic/icoSpaceInvadersBlack.svg);   
    background-repeat: no-repeat;
    padding: 30px;
}

.menu {
	display: flex;
}
.linkMenu {
	text-decoration: none;
	padding: 15px 20px;
	margin: 0 20px;
	border-right: 1px solid #333;
}
.main {
	padding-top: 50px;
	max-width: 1100px;
	display: flex;
	flex-direction: column;
	margin: auto;
	margin-top: 10px;
	align-items: center;
	justify-content: center;
}
.main > h1 {
	margin-bottom: 40px;
}
.main > img {
	width: 60%;
	margin: 40px 0;
}
.footer {
	margin-top: 20px;
	padding: 20px 0;
	box-shadow: 0 0 8px #333;
}
.footer > p {
	text-align: center;
}
.tema {
	position: absolute;
	right: 0;
	top: 200px;
}
.colorTema {
	width: 20px;
	height: 20px;
	border: 1px solid rgb(97, 96, 95);
	cursor: pointer;
}
.dark {
	background-color: #333;
}
.light {
	background-color: #fff;
}

.pink {
	background-color: rgb(247, 8, 255);
}

.container.pink .main {
	background-color: rgb(247, 8, 255);
}

.container.dark .main {
	background-color: #333333;
}
.container.dark p,
.container.dark h1,
.container.dark a {
	color: #f4f4f4;
}

.container.pink p,
.container.pink h1,
.container.pink a {
	color: #f4f4f4;
}

.container.dark .header,
.container.dark .footer {
	box-shadow: 0 0 8px gray;
}

